* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #ffc145;
  border: 1px solid grey;
  border-top: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97vw;
  max-width: 1224px;
  height: fit-content;
  margin: 0 auto;
  padding: 5rem 2rem 1rem;
}
