* {
  box-sizing: border-box;
}

#footer {
  position: relative;
  background-color: #2b2828;
  width: 100%;
  height: fit-content;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-photo {
  position: absolute;
  left: 0;
  background: linear-gradient(to bottom, #0000007c, #00000048, #00000048), url('../images/africanMumCooking.png');
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 10px #000;
  border-radius: 20px 0;
  margin: 1rem;
  z-index: 0;
}

.got-to-top {
  background-color: #6ee374;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  margin: 4rem;
  transform: translate(50%);
  color: #000;
  padding: 1rem 2rem;
  border-radius: 10px;
  z-index: 3;
}