@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Changa:wght@300&family=Lora:wght@700&family=Mulish&display=swap');

* {
  box-sizing: border-box;
}

#hero-section {
  position: relative;
  background: linear-gradient(to bottom, #0000007c, #0000007c, #0000007c), url('../images/banner.png');
  color: #ffd700;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 97vh;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  /* background-color: green; */
  background: linear-gradient(to bottom, #0000003b, #0000003b, #0000003b);
  position: absolute;
  position: fixed;
  inset: 0;
  margin: 1rem 0 0 1rem;
  padding: 0;
  width: 90%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.nav-bar button {
  background: none;
  color: #ffd700;
  color: whitesmoke;
  border: 1px solid #0000007c;
  border: none;
  padding: 1rem 2rem;
  transition: 0.5s;
  font-weight: 700;
  font-size: 1rem;
}

.nav-bar button:hover {
  background-color: #0000007c;
}

.hero-header {
  width: fit-content;
  height: fit-content;
  cursor: default;
  display: flex;
  font-family: 'Caveat';
}

.hero-header .span1 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 1rem 10px;
}

.hero-header .span2 {
  font-weight: 600;
  font-size: 7rem;
  padding-bottom: 4px;
}

.search-section {
  width: fit-content;
  height: fit-content;
  margin: 1rem 1rem 0;
  display: flex;
  align-items: center;
  /* align-self: flex-start; */
}

@media only screen and (max-width: 600px) {
  .nav-bar button {
    background-color: #0000007c;
    padding: 0.6rem;
  }

  .search-section {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}