* {
  box-sizing: border-box;
}

.upload-image-container {
  width: 100%;
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.upload-image-container .open-add-image-btn {
  padding: 10px 12px;
  border-radius: 10px;
  font-weight: 600;
  margin: 0;
  align-self: flex-start;
}

.upload-image-container .image-section {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.image-section .image_input {
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.image-section .remImg-section {
  background-color: grey;
  width: 100%;
  padding: 10px;
}

.remImg-section .output_image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 300px;
  height: 200px;
}

.remImg-section .addimg-clear-btn {
  background-color: brown;
  color: #fff;
  font-weight: 700;
  padding: 5px 10px;
  margin: 1rem 0 0;
}